{% extends './base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Escriba la nueva contraseña</h1>
    {% for error in form.non_field_errors %}
    {{error|escape}}
    {% endfor %}
    <form method="POST" action=".">
      {% csrf_token %}
      {% for field in form %}
      <div class="input-container">
        {% render_field field %}
        <label>{{field.label}}</label>
        <div class="bar"></div>
        {% for error in field.errors %}
        {{error|escape}}
        {% endfor %}
      </div>
      {% endfor %}
      <div class="button-container">
        <button type="submit"><span>Enviar</span></button>
      </div>
      <div class="footer"><a href="{% url 'login' %}">Volver al inicio</a></div>
    </form>
  </div>
</div>
{% endblock %}