{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="wrap">
        <h1>Crud consultor ambiental</h1>
</div>


<style>
    a {
    text-decoration: none; 
    color: black; 
}
h5{
  text-align: center
}
img.icon {
  display: block;
  margin-left: auto;
  margin-right: auto 
}
</style>

<div class="row">
  <div class="col s4">
    <div class="card">
    <a href="{% url "consultor-crud:lista-organizaciones" %}">   
          <div class="card"> 
              <img class="icon"  src="{% static 'img/enterprise.png' %}" height="100" width="150" style="margin-left:auto; margin-right:auto">
      
              <div class="card-title text-center">
      
                  <h5>
                      Ver organizaciones
                  </h5>
              </div>
              <!--
              <div>
                Icons made by <a href="https://www.flaticon.com/authors/geotatah" title="geotatah">geotatah</a>
                from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
              </div>
              -->
          </div>
      </a>
      </div> 
  </div> 
  <div class="col s4">
  <div class="card">
    <a href="{% url "consultor-crud:lista-datos-proyectos" %}">   
        <div class="card"  > 
            <img class="icon" src="{% static 'img/infographic.png' %}" height="100" width="150">
            <div class="card-title">
    
                <h5>
                    Ver datos del proyectos 
                </h5>
            </div>
            <!--
            <div>
              Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> 
              from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
              is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
            -->
        </div>
    </a>
  </div>
  </div>

  <div class="col s4">
  <div class="card">  
  <a href="{% url "consultor-crud:lista-responsables" %}">   
        <div class="card"  > 
            <img class="icon"  src="{% static 'img/group.png' %}" height="100" width="150">
            <div class="card-title">
    
                <h5>
                    Responsables del proyecto
                </h5>
            </div>
            <!--
            <div>
              Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> 
              from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
              is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
            -->
        </div>
    </a>
  </div>
  </div>
</div>

<div class="row">
  <div class="col s4">
  <div class="card">  
  <a href="{% url "consultor-crud:lista-datos-documentos" %}">   
        <div class="card"  > 
            <img class="icon" src="{% static 'img/folder.png' %}" height="100" width="150">
            <div class="card-title">
    
                <h5>
                    Ver datos del documento
                </h5>
            </div>
            <!--
            <div>
              Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> 
              from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
              is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
            -->
        </div>
    </a>
  </div>
  </div>

  <div class="col s4">
  <div class="card">  
  <a href="{% url "consultor-crud:lista-solicitantes" %}">   
      <div class="card"  > 
          <img class="icon"  src="{% static 'img/solicitante.png' %}" height="100" width="150">
          <div class="card-title">
  
              <h5>
                  Ver datos de Solicitantes
              </h5>
          </div>
      </div>
  </a>
  </div>
  </div>

  <div class="col s4">
    <div class="card">  
    <a href="{% url "consultor-crud:lista-detalles-proyecto" %}">   
        <div class="card"  > 
            <img class="icon"  src="{% static 'img/profiles.png' %}" height="100" width="150">
            <div class="card-title">
    
                <h5>
                    Ver detalles del Proyecto
                </h5>
            </div>
            <!--
            <div>
              Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a>
               from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
               is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
            -->
        </div>
    </a>
    </div>
    </div>

</div>



  
  </div>
  
 
{% endblock %}