{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrap">
        <h1>Crud consultor ambiental</h1>
</div>


<style>
    a {
    text-decoration: none; 
    color: black; 
}
</style>

<div class="cards">

    <a href="{% url "consultor-crud:lista-organizaciones" %}">   
        <div class="card"  > 
            <img  src="{% static 'img/enterprise.png' %}" height="100" width="150">
            <div class="card-title">
    
                <h5>
                    Ver    organizaciones
                </h5>
            </div>
        </div>
    </a>

    <a href="{% url "consultor-crud:lista-datos-proyectos" %}">   
        <div class="card"  > 
            <img  src="{% static 'img/infographic.png' %}" height="100" width="150">
            <div class="card-title">
    
                <h5>
                    Ver datos del proyectos 
                </h5>
            </div>
        </div>
    </a>

    <a href="{% url "consultor-crud:lista-responsables" %}">   
        <div class="card"  > 
            <img  src="{% static 'img/group.png' %}" height="100" width="150">
            <div class="card-title">
    
                <h5>
                    Responsables del proyecto
                </h5>
            </div>
        </div>
    </a>

    <a href="{% url "consultor-crud:lista-datos-documentos" %}">   
        <div class="card"  > 
            <img  src="{% static 'img/folder.png' %}" height="100" width="150">
            <div class="card-title">
    
                <h5>
                    Ver datos del documento
                </h5>
            </div>
        </div>
    </a>

    <a href="{% url "consultor-crud:lista-solicitantes" %}">   
      <div class="card"  > 
          <img  src="{% static 'img/solicitante.png' %}" height="100" width="150">
          <div class="card-title">
  
              <h5>
                  Ver datos de Solicitantes
              </h5>
          </div>
      </div>
  </a>



  
  </div>
  
 
{% endblock %}