{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="card">
  <h2 style="padding-left: 20px; padding-top: 10px; padding-bottom: 10px; color: gray;">Crud consultor ambiental</h2>
</div>


<style>
  a {
    text-decoration: none;
    color: gray;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  h5 {
    text-align: center
  }

  img.icon {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
</style>

<div class="row">
  <div class="col s6">
    <div class="card">

      <a href="{% url 'consultor-crud:lista-organizaciones' %}">
        <img class="icon" src="{% static 'img/enterprise.png' %}" height="50" width="50" style="margin-left:auto; margin-right:auto">
        <div class="card-title text-center">
          <h5>
            Ver organizaciones
          </h5>
        </div>
      </a>

    </div>
  </div>
  <div class="col s6">
    <div class="card">

      <a href="{% url 'consultor-crud:lista-datos-proyectos' %}">  
        <img class="icon" src="{% static 'img/infographic.png' %}" height="50" width="50">
        <div class="card-title">
          <h5>
            Ver datos del proyectos
          </h5>
        </div>
      </a>

    </div>
  </div>
</div>





<div class="row">
  <div class="col s6">
    <div class="card">

      <a href="{% url 'consultor-crud:lista-responsables' %}">       
        <img class="icon" src="{% static 'img/group.png' %}" height="50" width="50">
        <div class="card-title">
          <h5>
            Responsables del proyecto
          </h5>
        </div> 
      </a>

    </div>
  </div>
  <div class="col s6">
    <div class="card">

      <a href="{% url 'consultor-crud:lista-datos-documentos' %}">
        <img class="icon" src="{% static 'img/folder.png' %}" height="50" width="50">
        <div class="card-title">
          <h5>
            Ver datos del documento
          </h5>
        </div>
      </a>

    </div>
  </div>
</div>



<div class="row">
  <div class="col s6">
    <div class="card">

      <a href="{% url 'consultor-crud:lista-solicitantes' %}">
        <img class="icon" src="{% static 'img/solicitante.png' %}" height="50" width="50">
        <div class="card-title">

          <h5>
            Ver datos de Solicitantes
          </h5>
        </div>
      </a>

    </div>
  </div>
  <div class="col s6">
    <div class="card">

      <a href="{% url 'consultor-crud:lista-marcos' 'teorico' %}">
        <img class="icon" src="{% static 'img/teorico.png' %}" height="50" width="50">
        <div class="card-title">
          <h5>
            Ver marcos teóricos
          </h5>
        </div> 
      </a>

    </div>
  </div>
</div>




<div class="row">
  <div class="col s6">
    <div class="card">

      <a href="{% url 'consultor-crud:lista-marcos' 'metodologico' %}">       
        <img class="icon" src="{% static 'img/metodologico.png' %}" height="50" width="50">
        <div class="card-title">
          <h5>
            Ver marcos metodológicos
          </h5>
        </div>
      </a>

    </div>
  </div>
  <div class="col s6">
    <div class="card">

      <a href="{% url 'consultor-crud:lista-marcos' 'juridico' %}">
        <img class="icon" src="{% static 'img/juridico.png' %}" height="50" width="50">
        <div class="card-title">
          <h5>
            Ver marcos jurídicos
          </h5>
        </div>
      </a>

    </div>
  </div>
</div>




{% endblock %}