{% extends 'base.html' %}
{% load static %}
{% load materializecss %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h3 class="mt-2">Agregar {{ nombre }}</h3>
      <hr class="mt-0 mb-4">
      <form method="post">
          {% csrf_token %}
          {{  form|materializecss }}
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){

  // Initialize materialize data picker
  $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
  $('select').formSelect();

});

</script>

{% endblock js %}