{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- confirm delete de organizacion -->
{% if Organizacion %}
  <form method="post">
    {% csrf_token %}
    <p>¿Estás seguro que deseas borrar la organizacion "{{ object.nombre }}"?</p>
    <button type="submit" class="btn btn-primary">Aceptar</button>
  </form>
{% endif %}

<!-- confirm delete de datos de un proyecto -->
{% if Datos_Proyecto %}
  <form method="post">
    {% csrf_token %}
    <p>¿Estás seguro que deseas borrar los datos del proyecto "{{ object.titulo }}"?</p>
    <button type="submit" class="btn btn-primary">Aceptar</button>
  </form>
{% endif %}

<!-- confirm delete de un responsable -->
{% if Responsable %}
  <form method="post">
    {% csrf_token %}
    <p>¿Estás seguro que deseas borrar el responsable "{{ object.nombre }}"?</p>
    <button type="submit" class="btn btn-primary">Aceptar</button>
  </form>
{% endif %}
{% endblock %}