{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="post">
  {% csrf_token %}
    {% if object.actividad %}
        <p>¿Estás seguro que deseas borrar el costo de la actividad "{{ object.actividad }}" del proyecto "{{ object.proyecto }}"?</p>
    {% else %}
        <p>¿Estás seguro que deseas borrar el costo del material "{{ object.material }}" del proyecto "{{ object.proyecto }}"?</p>
    {% endif %}
  <button type="submit" class="btn btn-primary">Aceptar</button>
</form>
{% endblock %}