{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}">
{% endblock %}

{% block content %}

<h3>Lista de datos de proyectos</h3>
<p>
    <a id="add" href="{% url "consultor-crud:nueva-datos-proyecto" %}">Agregar datos de un proyecto</a>
</p>
<div class="container" style="width:90% !important">
  {%if object_list.count > 0%}
  <table id="datos_proyecto" class="display">
      <thead>
          <tr>
              <th>Título</th>
              <th>Ubicación</th>
              <th style="text-align:center;">Ver detalles</th>
              <th style="text-align:center;">Editar</th>
              <th style="text-align:center;">Borrar</th>
              <th style="text-align:center;">Imprimir </th>
          </tr>
      </thead>
      <tbody>
        {% for proyecto in object_list %}
          <tr>
              <td>{{ proyecto.titulo }}</td>
              <td>{{ proyecto.ubicacion }}</td>
              <td style="text-align:center;"> <a id="detalles{{proyecto.id}}" href="{% url "consultor-crud:detalles-datos-proyecto"  proyecto.id %}"><i class="material-icons" style="color: #77933c">info</i></a></td>
              <td style="text-align:center;"><a id="editar{{proyecto.id}}" href="{% url "consultor-crud:editar-datos-proyecto" proyecto.id %}"><i class="material-icons" style="color: #77933c">edit</i></a></td>
              <td style="text-align:center;"><a id="borrar{{proyecto.id}}" href="{% url "consultor-crud:borrar-datos-proyecto" proyecto.id %}"><i class="material-icons" style="color: #77933c">delete</i></a></td>
              <td style="text-align:center;"><a id="imprimir{{proyecto.id}}" href="{% url "consultor-crud:imprimir-datos-proyecto" proyecto.id %}"><i class="material-icons" style="color: #77933c">print</i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No existen datos de proyectos agregadas a la base de datos</p>
  {% endif %}
</div>

{% endblock %}

<!--BLOQUE DE JS-->

{% block js %}
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script>
  $(document).ready( function () {
    $('#datos_proyecto').DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
      }
    });
  });
</script>
{% endblock %}