{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="wrap">
        <h3>Lista de responsables</h3>
        <p>
            <a href="{% url "consultor-crud:nuevo-responsable" %}">Agregar datos de un responsable</a>
        </p>
</div>

<div class="container" style="width:90% !important">
  {%if object_list.count > 0%}
  <table id="responsable" class="display">
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Cédula</th>
              <th>Proyecto</th>
              <th>Tipo de responsable</th>
              <th>Ver detalles</th>
              <th>Editar</th>
              <th>Borrar</th>
          </tr>
      </thead>
      <tbody>
        {% for responsable in object_list %}
          <tr>
              <td>{{ responsable.nombre }}</td>
              <td>{{ responsable.cedula }}</td>
              <td><a href="{% url "consultor-crud:detalles-datos-proyecto"  responsable.proyecto.id %}">{{ responsable.proyecto }}</a></td>
              <td>{{ responsable.get_tipo_responsable_display }}</td>
              <td><a href="{% url "consultor-crud:detalles-responsable"  responsable.id %}"><i class="fas fa-info-circle fa-lg" style="color: #77933c"></i></a></td>
              <td><a href="{% url "consultor-crud:editar-responsable" responsable.id %}"><i class="fas fa-edit fa-lg" style="color: #77933c"></i></a></td>
              <td><a href="{% url "consultor-crud:borrar-responsable" responsable.id %}"><i class="fas fa-trash-alt fa-lg" style="color: #77933c"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No existen datos de responsables agregados a la base de datos</p>
  {% endif %}
</div>

{% endblock %}

<!--BLOQUE DE JS-->

{% block js %}
<script>
  $(document).ready( function () {
    $('#responsable').DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
      }
    });
  });
</script>
{% endblock %}