{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'configuracion/css/configuracion_main.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}">
{% endblock %}

{% block content %}
<div class="row p-3 justify-content-center mb-3 titulo all-rounded">
		<div class="col-md-9 col-sm-11 text-center">
        <h3>Lista de responsables</h3>
		</div>
</div><p>
    <div class="col-md-1">
        <a id ="add" class="btn rounded btn-crud" href="{% url 'consultor-crud:nuevo-responsable' %}"><i class="material-icons">add</i></a>
  </div>
</p>
<div class="container" style="width:90% !important">
  {%if object_list.count > 0%}
  <table id="responsable" class="display">
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Cédula</th>
              <th>Proyecto</th>
              <th>Tipo de responsable</th>
              <th style="text-align:center;">Ver detalles</th>
              <th style="text-align:center;">Editar</th>
              <th style="text-align:center;">Borrar</th>
          </tr>
      </thead>
      <tbody>
        {% for responsable in object_list %}
          <tr>
              <td>{{ responsable.nombre }}</td>
              <td>{{ responsable.cedula }}</td>
              <td><a href="{% url "consultor-crud:detalles-datos-proyecto"  responsable.proyecto.id %}">{{ responsable.proyecto }}</a></td>
              <td>{{ responsable.get_tipo_responsable_display }}</td>
              <td style="text-align:center;"><a id="detalles{{responsable.id}}" href="{% url "consultor-crud:detalles-responsable"  responsable.id %}"><i class="material-icons" style="color: #77933c">info</i></a></td>
              <td style="text-align:center;"><a id="editar{{responsable.id}}" href="{% url "consultor-crud:editar-responsable" responsable.id %}"><i class="material-icons" style="color: #77933c">edit</i></a></td>
              <td style="text-align:center;"><a id="borrar{{responsable.id}}" href="{% url "consultor-crud:borrar-responsable" responsable.id %}"><i class="material-icons" style="color: #77933c">delete</i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No existen datos de responsables agregados a la base de datos</p>
  {% endif %}
</div>

{% endblock %}

<!--BLOQUE DE JS-->

{% block js %}
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script>
  $(document).ready( function () {
    $('#responsable').DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
      }
    });
  });
</script>
{% endblock %}