.grid-container {
  display: grid;
  width: 80%;
  grid-template-columns: auto auto auto;
  background-color: #77933c;
  padding: 10px;
}
.grid-item {
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

.title{
  font-weight: bold;
  color: #77933c;
  display: inline-block;
  padding-right: 2%;
}

.p{
  color: gray;
  display: inline-block;
}

.l{
  color: gray;
  padding-left: 5%;
}

