{% extends 'configuracion/base.html' %}
{%block contenido%}
	<table class="table">
		<tr class="cabecera">
			<td colspan="3">Elementos Ambientales</td>
		</tr>
		<tr class="cabecera">
			<td>Medios Físico</td>
			<td>Medios Biológicos</td>
			<td>Medios Socio-Cultural</td>
		</tr>
		{% if lista %}
		{% for estudio in lista %}
		<tr class=""></td>
			{% for x in estudio %}
			{% if x%}
			<td> <a name="{{x.id}}"href="{% url 'editar_estudio' x.id %}">{{x.nombre}}</a> </td>
			{% else %}
			<td> </td>
			{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
		{% endif %}
	</table>
	<center><a class="btn" style="background: #4f6228; color: white" href="{% url 'agregar_estudio' %}">Agregar Estudio</a></center>
{%endblock%}
