{% extends 'configuracion/base.html' %}
{%block contenido%}
<div class="row justify-content-center">
	<div class="col m6 s12">
		<table class="indicador">
			<caption>Valoración de la intensidad</caption>
			<tr class="cabecera">
				<th>Grado de perturbancia</th>
				<th colspan="4">Valor socio-cultural</th>
			</tr>
			<tr class="cabecera">
				<th>
					<th>Muy alto</th>
					<th>Alto</th>
					<th>Medio</th>
					<th>Bajo</th>
				</th>
			</tr>
			<tr>	
				<td>Fuerte</td>
				{% for i in intensidad_fuerte %}
				{% if i.valor_sociocultural == 'MA' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'A' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'M' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'B' %}
				<td>{{i.valor}}</td>
				{% endif %}
				{% endfor %}
			</tr>
				<td>Medio</td>
				{% for i in intensidad_medio %}
				{% if i.valor_sociocultural == 'MA' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'A' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'M' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'B' %}
				<td>{{i.valor}}</td>
				{% endif %}
				{% endfor %}
			</tr>
			<tr>
				<td>Suave</td>
				{% for i in intensidad_suave %}
				{% if i.valor_sociocultural == 'MA' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'A' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'M' %}
				<td>{{i.valor}}</td>
				{% elif i.valor_sociocultural == 'B' %}
				<td>{{i.valor}}</td>
				{% endif %}
				{% endfor %}
			</tr>
		</table>
	</div>
	<div class="col m6 s12">
		<table class="indicador">
			<caption>Valoración de la extensión</caption>
			<tr class="cabecera">
				<th>Clasificacion</th>
				<th colspan="2">Extension</th>
			</tr>
			<tr class="cabecera">
				<th>
					<th>%</th>
					<th>Valor</th>
				</th>
			</tr>
			<tr>
				{% for i in extension %}
				{% if i.clasificacion == 'GE' %}
				<td>Generalizada</td>
				<td>>75%</td>
				<td>{{i.valor}}</td>
			</tr>
			<tr>
				{% elif i.clasificacion == 'EX' %}
				<td>Extensiva</td>
				<td>35-74%</td>
				<td>{{i.valor}}</td>
			</tr>
			<tr>
				{% elif i.clasificacion == 'LO' %}
				<td>Local</td>
				<td>10-34%</td>
				<td>{{i.valor}}</td>
			</tr>
			<tr>
				{% elif i.clasificacion == 'PU' %}
				<td>Puntual</td>
				<td><10%</td>
				<td>{{i.valor}}</td>
				{% endif %}
				{% endfor %}
			</tr>
		</table>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col m6 s12">
		<table class="indicador">
			<caption>Valoración de la duración</caption>
			<tr class="cabecera">
				<th>Criterios</th>
				<th>Valor</th>
			</tr>
			{% for i in duracion %}
			{% if i.criterio == 'M2' %}
			<tr>
				<td>Menos de 2 años</td>
				<td>{{i.valor}}</td>
			</tr>
			{% elif i.criterio == 'M2-5' %}
			<tr>
				<td>2 a 5 años</td>
				<td>{{i.valor}}</td>
			</tr>
			{% elif i.criterio == 'M5-10' %}
			<tr>
				<td>5 a 10 años</td>
				<td>{{i.valor}}</td>
			</tr>
			{% elif i.criterio == 'M10' %}
			<tr>
				<td>Más de 10 años</td>
				<td>{{i.valor}}</td>
			</tr>
			{% endif %}
			{% endfor %}
		</table>
	</div>
	<div class="col m6 s12">
		<table class="indicador">
			<caption>Valoración de la reversibilidad</caption>
			<tr class="cabecera">
				<th>Clasificación</th>
				<th>Valor</th>
			</tr>
			{% for i in reversibilidad %}
			{% if i.clasificacion == 'IR' %}
			<tr>
				<td>Irreversible</td>
				<td>{{i.valor}}</td>
			</tr>
			{% elif i.clasificacion == 'TR' %}
			<tr>
				<td>Requiere tratamiento</td>
				<td>{{i.valor}}</td>
			</tr>
			{% elif i.clasificacion == 'MR' %}
			<tr>
				<td>Medianamente reversible</td>
				<td>{{i.valor}}</td>
			</tr>
			{% elif i.clasificacion == 'RE' %}
			<tr>
				<td>Reversible</td>
				<td>{{i.valor}}</td>
			</tr>
			{% endif %}
			{% endfor %}
		</table>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col m6 s12">
		<table class="indicador">
			<caption>Probabilidades</caption>
			<tr class="cabecera">
				<th>Clasificación</th>
				<th>Porcentaje</th>
			</tr>
			{% for i in probabilidad %}
			{% if i.probabilidad == 'A' %}
			<tr>
				<td>Alta</td>
				<td>{{i.valor}}</td>
			</tr>
			{% elif i.probabilidad == 'M' %}
			<tr>
				<td>Media</td>
				<td>{{i.valor}}</td>
			</tr>
			{% elif i.probabilidad == 'B' %}
			<tr>
				<td>Baja</td>
				<td>{{i.valor}}</td>
			</tr>
			{% elif i.probabilidad == 'N' %}
			<tr>
				<td>Nula</td>
				<td>{{i.valor}}</td>
			</tr>
			{% endif %}
			{% endfor %}
		</table>
	</div>
	<div class="col m6 s12">
		<table class="indicador">
			<caption>Criterios de clasificación de la importancia del efecto</caption>
			<tr class="cabecera">
				<th>Importancia</th>
				<th colspan="2">Rango</th>
				<th>Valor del impacto</th>
			</tr>
			<tr class="cabecera">
				<th>
					<th>Min</th>
					<th>Max</th>
				</th>
				<th></th>
			</tr>
			{% for i in importancia %}
			{% if i.importancia == 'MA' %}
			<tr>
				<td>Muy alta</td>
				<td>{{i.minimo}}</td>
				<td>{{i.maximo}}</td>
				<td>{{i.valor}}</td>
			</tr>
			{% elif i.importancia == 'A' %}
			<tr>
				<td>Alta</td>
				<td>{{i.minimo}}</td>
				<td>{{i.maximo}}</td>
				<td>{{i.valor}}</td>
			</tr>
			{% elif i.importancia == 'M' %}
			<tr>
				<td>Media</td>
				<td>{{i.minimo}}</td>
				<td>{{i.maximo}}</td>
				<td>{{i.valor}}</td>
			</tr>
			{% elif i.importancia == 'B' %}
			<tr>
				<td>Baja</td>
				<td>{{i.minimo}}</td>
				<td>{{i.maximo}}</td>
				<td>{{i.valor}}</td>
			</tr>
			{% endif %}
			{% endfor %}
		</table>
	</div>
</div>
<div class="row justify-content-center mt-3">
	<a class="btn" style="background: #4f6228; color: white" href="{% url 'modificar_tablas' %}">Modificar valores</a>
</div>
{%endblock%}