{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {% if medio %}
    <p>¿Estás seguro que deseas borrar los datos del {{ object.get_tipo_display }} del proyecto {{ object.proyecto }}?</p>
  {% elif caracteristica %}
    <p>¿Estás seguro que deseas borrar los datos de la característica {{ object.caracteristica }} del {{ object.medio.get_tipo_display }} 
    del proyecto {{ object.medio.proyecto }}?</p>
  {% else %}
    <p></p>
    {% endif %}
  <button type="submit" class="btn btn-primary">Aceptar</button>
</form>
{% endblock %}