{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'configuracion/css/configuracion_main.css' %}">
{% endblock %}

{% block content %}

<div class="row p-3 justify-content-center mb-3 titulo all-rounded">
		<div class="col-md-9 col-sm-11 text-center">
			<h3>Lista de detalles de proyectos</h3>
		</div>
</div><p>
    <div class="col-md-1">
        <a id ="add" class="btn rounded btn-crud" href="{% url 'consultor-crud:nuevo-detalles-proyecto' %}"><i class="material-icons">add</i></a>
  </div>
</p>
<div class="container" style="width:90% !important">
  {%if object_list.count > 0%}
  <table id="detalles_proyecto" class="display">
      <thead>
          <tr>
              <th>Proyecto</th>
              <th>Objetivo General</th>
              <th style="text-align:center;">Ver detalles</th>
              <th style="text-align:center;">Editar</th>
              <th style="text-align:center;">Borrar</th>
          </tr>
      </thead>
      <tbody>
        {% for detalles in object_list %}
          <tr>
              <td><a href="{% url "consultor-crud:detalles-proyecto"  detalles.proyecto.id %}">{{ detalles.proyecto }}</a></td>
              <td>{{ detalles.obj_general }}</td>
              <td style="text-align:center;"> <a id="detalles{{detalles.id}}" href="{% url "consultor-crud:detalles-proyecto"  detalles.id %}"><i class="material-icons" style="color: #77933c">info</i></a></td>
              <td style="text-align:center;"><a id="editar{{detalles.id}}" href="{% url "consultor-crud:editar-detalles-proyecto" detalles.id %}"><i class="material-icons" style="color: #77933c">edit</i></a></td>
              <td style="text-align:center;"><a id="borrar{{detalles.id}}" href="{% url "consultor-crud:borrar-detalles-proyecto" detalles.id %}"><i class="material-icons" style="color: #77933c">delete</i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No existen detalles de proyectos agregadas a la base de datos</p>
  {% endif %}
</div>

{% endblock %}

<!--BLOQUE DE JS-->

{% block js %}
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script>
  $(document).ready( function () {
    $('#detalles_proyecto').DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
      }
    });
  });
</script>
{% endblock %}