{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}

<h4>Detalles del marco metodológico del proyecto "{{object.titulo}}"</h4>
<div class="container" style="width: 75%">
  <div id="editor"></div>
</div>
{% endblock %}


{% block js %}
<script src="{% static 'js/quill.min.js' %}"></script>
<script>
  $(function () {
    const quill = new Quill('#editor')
    quill.disable()
    {% autoescape off %}
    quill.setContents({{object.marco_metodologico}})
    {% endautoescape %}
  })
</script>
{% endblock js %}
  