{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-html5-1.5.4/b-print-1.5.4/kt-2.5.0/r-2.2.2/datatables.min.css"/>
{% endblock %}

{% block content %}

<h3>Lista de marcos metodológicos</h3>
<p>
    <a href="{% url 'eia_app:crear-marco' 'metodologico' %}">Agregar marco metodológico</a>
</p>
<div class="container" style="width:90% !important">
    {%if object_list.count > 0%}
      <table id="datos_documento" class="display">
        <thead>
            <tr>
                <th>Proyecto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
          {% for proyecto in object_list %}
            <tr>
                <td>{{ proyecto.titulo }}</td>
                <td colspan="3" style="text-align:center;">
                  <a href="{% url 'eia_app:detalles-marco' tipo='metodologico' pk=proyecto.pk %}">
                    <i class="material-icons" style="color: #77933c">info</i>
                  </a>
                  <a href="">
                    <i class="material-icons" style="color: #77933c">edit</i>
                  </a>
                  <a href="">
                    <i class="material-icons" style="color: #77933c">delete</i>
                  </a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No existen datos de un documentos agregados a la base de datos</p>
    {% endif %}
</div>

{% endblock %}

<!--BLOQUE DE JS-->

{% block js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-html5-1.5.4/b-print-1.5.4/kt-2.5.0/r-2.2.2/datatables.min.js"></script>
<script>
  $(document).ready( function () {
    $('#datos_documento').DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
      }
    });
  });
</script>
{% endblock %}