{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="wrap">
        <h1> Detalles de la organizacion: {{organizacion.nombre}}</h1>
        <p>Rif: {{organizacion.rif}}</p>

        
        
        

        
        <div class="lud-6 lud">
        <p class="sub-title">Datos </p>
          
          
            <div class="example ex-6">


                <!-- 
                {% for x in datosproyecto.getInformation %}
                <div class="col">
                    <div class="text-col">
                        <p class="title">{{x}}</p>
                        <p>{{ x }}</p>
                    </div>
                </div>
                {% endfor %} -->


                <div class="col">
                        <div class="text-col">
                            <p class="title">Nombre </p>
                            <p>{{ organizacion.nombre}} </p>
                        </div>
                </div>
                
                <div class="col">
                        <div class="text-col">
                            <p class="title">RIF </p>
                            <p>{{ organizacion.rif}} </p>
                        </div>
                </div>

                <div class="col">
                        <div class="text-col">
                            <p class="title">Razón Social </p>
                            <p>{{ organizacion.razon_social}} </p>
                        </div>
                </div>


                <div class="col">
                        <div class="text-col">
                            <p class="title">RIF </p>
                            <p>{{ organizacion.rif}} </p>
                        </div>
                </div>
                
                <div class="col">
                        <div class="text-col">
                            <p class="title">Dirección </p>
                            <p>{{ organizacion.direccion}} </p>
                        </div>
                </div>

                <div class="col">
                        <div class="text-col">
                            <p class="title">Representante Legal </p>
                            <p>{{ organizacion.nombre_representante_legal}} {{organizacion.apellido_representante_legal}} </p>
                        </div>
                </div>

                <div class="col">
                        <div class="text-col">
                            <p class="title">Cédula Representante legal</p>
                            <p>{{ organizacion.cedula_representante_legal }}</p>
                        </div>
                </div>

                {% if organizacion.pasaporte_representante_legal %}
                <div class="col">
                        <div class="text-col">
                            <p class="title">Pasaporte Representante legal</p>
                            <p>{{ organizacion.pasaporte_representante_legal  }}</p>
                        </div>
                </div>
                {% endif %}


                

                <div class="col">
                        <div class="text-col">
                            <p class="title">Proyecto</p>
                            <p><a href="{% url "consultor-crud:detalles-datos-proyecto"  organizacion.proyecto.id %}">{{ organizacion.proyecto }}</a></p>
                        </div>
                </div>
        

                <div class="col">
                        <div class="text-col">
                            <p class="title">Teléfono </p>
                            <p>{{ organizacion.telefono}} </p>
                        </div>
                </div>

                <div class="col">
                        <div class="text-col">
                            <p class="title">Correo </p>
                            <p>{{ organizacion.email}} </p>
                        </div>
                </div>


            </div>
      </div>
      </div>

{% endblock %}