/* Configuracion App */
caption{
  caption-side: top;
  text-align: center;
}

input{
  width: 50%;
  text-align: center;
}

td, th{
  border-radius:0px;
  text-align: center;
}
h1{
  font-size: 3rem;
}

.total_height{
  height:100%;
}

.banner{
  background-color: rgb(79, 98, 40);
  color: rgb(248, 248, 248);
  padding: 0.5em;
    font-size: 40px;
}
.tablenav tr td {
  font-weight: bold;
  border: 2px solid rgb(248, 248, 248);
  text-align: center;
  width: 5%;
}
.menu {
  background-color: rgb(196, 213, 159);
  border-radius: 0px;
}
.menu:hover {
  background-color: rgb(196, 213, 159);
}
.menu p{
    font-size: 24px;
}
.content{
  background-color: rgb(248, 248, 248);
}

.cabecera{
  background-color: #4f6228;
  color: #fff;
  text-align: center;
  border-bottom: solid 3px #6f883d;
  margin-bottom: 3px;
}     

.cabecera_2{
  background-color: #86a742;
  color: #fff;
  text-align: center;
  border-bottom: solid 3px #6f883d;
  margin-bottom: 3px;
  margin-top: 3px;
}


.table tr td {
  font-weight: bold;
  border: 2px solid #000;
  text-align: center;
  width: 33%;
}
.columna {
      background-color: #e6fad2;
}

.alert {
  background-color: #e6fad2;
}

.alert2 {
  background-color: #ee8484
}

.indicador{
  font-weight: bold;
  border: 2px solid #000;
  text-align: center;
  width: 100%;
}

.boton-form{
  background: #4f6228;
  color: white;
  width: 50%;
}
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left: 20%;
}

.btn_agregar{
	background: #4f6228; 
	color: white;
	margin-bottom:5px;
}

.search_t{
	padding: 0px !important;
    width: 106px !important;
    height: 22px !important;
    margin-left: 9px !important;
    border-radius: 0px !important;
    margin-right: 0px !important;
}

.no_all{
	margin: 10px !important;
	text-align: center !important;
}

.n_tab{
	margin-right:8px;
	border-bottom:solid 1px #6e883d !important;
}

.b_r{
	border-right:solid 1px #6e883d;
}

.b_l{
	border-left:solid 1px #6e883d;
}

.no_m{
	margin-left:0px;
	margin-right:0px;
}
