{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}">
  <link href="{% static 'fonts/material-icons/material-icons.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  

  <!-- COMIENZO DEL CSS -->

  {% block css %}
  {% endblock %}

  <!-- FIN DEL CSS -->
  <title>{% block title %}EIA{% endblock title %}</title>
</head>
<body>

  <div class="wrapper">

    <!-- COMIENZO DEL SIDEBAR -->

    <nav id="sidebar">
    <!-- PARTE SUPERIOR DEL SIDEBAR -->
      <div class="sidebar-header">
        <img class="circle" src="{% static 'img/germanbb.jpg' %}">
        <h4 id="side-menu-user-name" class="white-text name">Bienvenido {{ request.user.full_name }}</h4>
      </div>
      <!-- FIN DE LA PARTE SUPERIOR DEL SIDEBAR -->
      <ul class="list-unstyled components">

        <li>
          <div class="divider"></div>
        </li>

        <!-- PARTE INFERIOR DEL SIDEBAR -->

        <li class="active">
          <a  href="{% url 'dashboard:index' %}"><i class="fas fa-home"></i>
            <span class="white-text">Home</span>
          </a>
        </li>
        <li>
          <a href="{% url 'users_list' %}"><i class="fas fa-users"></i>
            <span class="white-text">Control de Usuarios</span>
          </a>
        </li>
        <li>
          <a href="{% url 'tablas' %}"><i class="fas fa-cog"></i>
            <span class="white-text name">Configuración</span>
          </a>
        </li>
        <li>
          <a href="{% url "consultor-crud-index" %}"><i class="fas fa-edit"></i>
            <span class="white-text name">Consultor ambiental</span>
          </a>
        </li>
        <li>
          <a href="{% url 'logout' %}"><i class="fas fa-arrow-left"></i>
            <span class="white-text name">Cerrar Sesión</span>
          </a>
        </li>
      

        <!-- FIN DE LA PARTE INFERIOR DEL SIDEBAR -->

      </ul>
    
    </nav>
    <!-- FIN DE SIDEBAR -->

    <!-- SECCION DE CONTENIDO -->

    <main>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
          </button>
        </div>
      </nav>
      <section class="container">
        {% block content %}

        {% endblock %}
      </section>
    </main>

  <!-- FIN DE LA SECCION DE CONTENIDO -->
</div>
  <!-- FOOTER -->

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container center-align">
        <span class="white-text">
          Ingeniería del Software II. Septiembre-Diciembre 2018
        </span>

      </div>
    </div>
  </footer>

  <!-- FIN DEL FOOTER -->


  <!-- COMIENZO DEL JS -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>-->
  <script>
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
      });
    });
  </script>

  {% block js %}
  {% endblock %}

  <!-- FIN DEL JS -->
</body>
</html>
