{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'css/grid.css' %}">
  <link rel="stylesheet" href="{% static 'css/details.css' %}">
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- IMPORTS PARA USAR DATABLES -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-html5-1.5.4/b-print-1.5.4/kt-2.5.0/r-2.2.2/datatables.min.css"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-html5-1.5.4/b-print-1.5.4/kt-2.5.0/r-2.2.2/datatables.min.js"></script>
  

  <!-- COMIENZO DEL CSS -->

  {% block css %}
  {% endblock %}

  <!-- FIN DEL CSS -->

  <title>{% block title %}EIA{% endblock title %}</title>

</head>

<body>

  <!-- COMIENZO DEL SIDEBAR -->


  <ul id="slide-out" class="side-nav fixed z-depth-4">
    
    <!-- PARTE SUPERIOR DEL SIDEBAR -->

    <li>
      <div class="userView">
        <div class="background">
            <div class="fill"></div>
        </div>
        <a href="#"><img class="circle" src="{% static 'img/germanbb.jpg' %}"></a>
        <a href="#"><span class="white-text name">Bienvenido Individuo</span></a>
      </div>
    </li>

    <!-- FIN DE LA PARTE SUPERIOR DEL SIDEBAR -->

    <li><div class="divider"></div></li>
    
    <!-- PARTE INFERIOR DEL SIDEBAR -->

    <li>
      <a class="active" href="#"><i class="material-icons white-item white-text">home</i>
        <span class="white-text">Home</span>
      </a>
    </li>
    <li>
      <a href="#"><i class="material-icons white-item white-text">keyboard</i>
        <span class="white-text">Calculadora</span>
      </a>
    </li>
    <li>
      <a href="#"><i class="material-icons white-text white-item">settings</i>
        <span class="white-text name">Configuración</span>
      </a>
    </li>
    <li>
      <a href="#"><i class="material-icons white-text white-item">arrow_back</i>
        <span class="white-text name">Cerrar Sesión</span>
      </a>
    </li>
    <li>
      <a href="{% url "consultor-crud-index" %}"><i class="material-icons white-text white-item">border_color</i>
        <span class="white-text name">CRUD Consultor ambiental</span>
      </a>
    </li>
  

    <!-- FIN DE LA PARTE INFERIOR DEL SIDEBAR -->
  
  </ul>

  <!-- FIN DE SIDEBAR -->
  
  <!-- SECCION DE CONTENIDO -->
  
  <main>
    <section class="content">
      {% block content %}

      {% endblock %}
    </section>
  </main>
  
  <!-- FIN DE LA SECCION DE CONTENIDO -->

  <!-- FOOTER -->

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span class="white-text">
          Ingeniería del Software II. Septiembre-Diciembre 2018
        </span>
        
      </div>
    </div>
  </footer>

  <!-- FIN DEL FOOTER -->
  


  <!-- COMIENZO DEL JS -->

  {% block js %}
  {% endblock %}

  <!-- FIN DEL JS -->

</body>




</html>



























