{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="seleccionarProyecto">
  {% if usuario.proyecto_seleccionado == -1 %}
  <h1>Bienvenido, {{usuario.first_name}}</h1>
  {% endif %}
  {% if usuario.proyecto_seleccionado > 0 %}
  <h1>El proyecto en edición es: {{edicion.titulo}} </h1>
  {% endif %}
  <form action="{% url 'dashboard:index' %}" method="post">
    {% csrf_token %}
    <label for="">Seleccione un proyecto: </label>
    <select name="proyecto" id="">
      {% for proyecto in proyectos %}
      <option value={{proyecto.pk}}>{{proyecto.titulo}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Elegir">
  </form>
</div>
{% endblock content %}
