{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="banner-area">
  <div class="container">
    <div class="row justify-content-center height align-items-center">
      <div class="col-lg-8">
        <div class="banner-content text-center">

          <span class="text-white top text-uppercase">Cuidamos el Medio Ambiente</span>

          <h1 class="text-white text-uppercase">Bienvenido, Fulanito</h1>

          <a href="#" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">¡Empieza a ser ecológico ya!</span><span class="lnr lnr-arrow-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="featured-area">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </section>
  <!-- End Feature Area -->
  <!-- Start Service Area -->
  <section class="service-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center">
            <h3 class="text-white">TEXTO</h3>
            <span class="text-white text-uppercase">Texto texto texto texto</span>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
  </section>
  <!-- End Service Area -->
  <!-- Start Amazing Works Area -->
</div>
<div class="main-wrapper">
  <section class="amazing-works-area">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center">
            <h3>Texto texto texto</h3>
            <span class="text-uppercase">Texto texto texto</span>
          </div>
        </div>
      </div>
  </section>
</div>
<div class="main-wrapper">

  <section class="story-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="story-title">
            <h3 class="text-white">Texto texto texto</h3>
            <span class="text-uppercase text-white">Texto texto texto</span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="story-box">
            <h6 class="text-uppercase">Texto texto texto texto</h6>
            <p>Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto</p>
            <a href="#" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Botón</span><span class="lnr lnr-arrow-right"></span></a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="subscription-area">
    <div class="container">


    </div>
  </section>
{% endblock content %}