{% extends '../base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'configuracion/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'configuracion/css/configuracion_main.css' %}">
{% endblock %}

{% block content %}
	{% if form.errors %}
	{% for fields in form %}
	{% for error in fields.errors %}
	<div class="alert alert2 {{ message.tags }} alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
	<i class=""><strong>{{ error }}</strong></i>
	</div>
	{% endfor %}
	{% endfor %}
	{% endif %}

<div class="container">
	<div class="row justify-content-center">
		<h1>Actividades</h1>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-5 col-sm-12" align="center">
			<label for="">Actividad Macro</label>
			<select id="macros" style="display: inline-block;">
				<option disabled selected>Escoger act. macro</option>
				{% for m in macros %}
				<option value="{{m.nombre}}">{{m.nombre}}</option>
				{% endfor %}
			</select>

		</div>
		<div class="col-md-5 col-sm-12" align="center">
			<label for="">Disciplina</label>
			<select id="disciplinas" style="display: inline-block;">
				<option disabled selected>Escoger disciplina</option>
				{% for d in disciplinas %}
				<option value="{{d.nombre}}">{{d.nombre}}</option>
				{% endfor %}
			</select>

		</div>
		<div class="col-md-2 col-sm-6 align-self-center">
			<a class="btn" style="background: #4f6228; color: white;" onclick="">Buscar</a>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-md-8 col-sm-12" align="center">
			<table id="macros" class="tabla-actividades">
				<tr>
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>Disciplina</th>
					<th>Marco</th>
					<th>Acciones</th>
				</tr>
				<tbody>
					{% for m in actividades %}
					<tr>
						<td>{{m.nombre}}</td>
						<td>{{m.descripcion}}</td>
						<td>{{m.disciplina.nombre}}</td>
						<td>{{m.macro.nombre}}</td>
						<td><a class="btn rounded pl-3" style="background: #4f6228; color: white;" href="{% url 'editar_actividad' m.id %}">Modificar</a>
							<a class="btn rounded" style="background: #4f6228; color: white;" onclick = "return confirm('¿Está seguro de eliminar esta actividad?')" href="{% url 'eliminar_actividad' m.id %}">Eliminar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="row justify-content-center mt-2">
		<div class="col-md-5 col-sm-6 align-self-center" align="center">
			<a class="btn rounded" style="background: #4f6228; color: white;" href="{% url 'agregar_actividad' %}">Agregar actividad</a>
		</div>
	</div>

</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'configuracion/js/bootstrap.min.js' %}"></script>

{% endblock %}