{% extends '../base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'configuracion/css/configuracion_main.css' %}">
{% endblock %}

{% block content %}

	<div class="row justify-content-center pt-3 mb-3 titulo all-rounded">
		<h1>Actividades</h1>
	</div>

	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	  {{message}}
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	{% endfor %}
	{% endif %}

	<div class="row justify-content-center mb-3">
		<div class="col-md-10">
			<input type="text" id="buscar-actividad" onkeypress="teclado()" name="buscar" class="buscar-p-sp" />
		</div>
		<div class="col-md-1">
			<a class="btn btn-crud" onclick="buscar()" data-toggle="tooltip" title="Buscar"><i class="material-icons">search</i></a>
		</div>
	</div>


	<div class="row justify-content-center mb-3">
		<div class="col-md-10 col-sm-12" align="center">
			<table id="actividades" class="tabla-plan">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Descripcion</th>
						<th>Disciplina</th>
						<th>Macro</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody id="contenido">
					{% for m in actividades %}
					<tr>
						<td>{{m.nombre}}</td>
						<td>{{m.descripcion}}</td>
						<td>{{m.disciplina.nombre}}</td>
						<td>{{m.macro.nombre}}</td>
						<td><a class="btn rounded pl-3 btn-crud" href="{% url 'editar_actividad' m.id %}" data-toggle="tooltip" title="Editar actividad"><i class="material-icons">edit</i></a>
							<a class="btn rounded btn-crud" onclick = "return confirm('¿Está seguro de eliminar esta actividad?')" href="{% url 'eliminar_actividad' m.id %}" data-toggle="tooltip" title="Eliminar actividad"><i class="material-icons">delete</i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-md-1">
			<a class="btn rounded mb-3 btn-crud" id="agregar_plan" href="{% url 'agregar_actividad' %}" data-toggle="tooltip" title="Agregar actividad"><i class="material-icons">add</i></a>
			<a class="btn rounded mb-3 btn-crud" id="disciplinas" href="{% url 'disciplinas' %}" data-toggle="tooltip" title="Lista de disciplinas">Disciplinas</a>
			<a class="btn rounded mb-3 btn-crud" id="macros" href="{% url 'macros' %}" data-toggle="tooltip" title="Actividades macros">Macros</a>
		</div>
	</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'configuracion/js/actividades.js' %}"></script>
<script type="text/javascript" src="{% static 'configuracion/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript">
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>
{% endblock %}