{% extends '../base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'configuracion/css/configuracion_main.css' %}">
{% endblock %}

	{% block content %}
	<script src="{% static 'configuracion/js/validacion_ponderacion.js' %}" type="text/javascript"></script>
	{% if form.errors %}
	{% for fields in form %}
	{% for error in fields.errors %}
	<div class="alert alert2 {{ message.tags }} alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
	<i class=""><strong>{{ error }}</strong></i>
	</div>
	{% endfor %}
	{% endfor %}
	{% endif %}

		<div class="row center-align section">
			<div class="col s1">			
				<div class="col m6 offset-m2" align="center">
					<div class="input-field">
						<a class="btn menu" style="color: gray" href="{% url 'index' %}">Volver</a>
					</div>
				</div>
			</div>
			<div class="col s11">
				{% if object %}
				<h1> Datos del Estudio </h1>
				{% else %}
				<h1> Agregar un Estudio </h1>
				{% endif %}
			<br>
			</div>	
		</div>

		<form method="post" id="formulario">
			{% csrf_token %}
			
			<div class="row center-align section">
				<div class="col m3 offset-m2">
					<div class="input-field">
						<h6>
							<label for="">{{form.nombre.label}}</label>
								{{form.nombre}}
						</h6>
					</div>
				</div>
				<div class="col m3 offset-m2">
						<label for="">{{form.tipo.label}}</label>
						{{form.tipo}}					
				</div>
			</div>
		
			<div class="row center-align section">
				<div class="col m3 offset-m2">
					
						
					<label for="">{{form.valoracion_relevancia.label}}</label>
					{{form.valoracion_relevancia}}
						
					
				</div>
				<div class="col m3 offset-m2">
						<h6>
							<label for="">{{form.tipo_relevancia.label}}</label>
							{{form.tipo_relevancia}}
						</h6>
					
				</div>
			</div>

			<div class="row center-align section">
				<div class="col m3 offset-m2">
						<label for="">Grado de Perturbacion</label>
						<select name="grado_perturbacion" id="grado_perturbacion" class="form-control browser-default" required>
							{%for i in view.grado_perturbacion%}
							<option value="{{i}}">{{i}}</option>
							{% endfor %}
						</select>
					
				</div>
				<div class="col m3 offset-m2">
					<label for="">Valor Socio Cultural</label>
					<select name="valor_sociocultural" id="valor_sociocultural" class="form-control browser-default" required>
						{%for i in view.valor_sa%}
						<option value="{{i}}">{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			
			<div class="row center-align section">
				<div class="col m3 offset-m2">
						
							<label for="">Clasificacion de la extension</label>
								<select name="clasificacion_extension" id="clasificacion_extension" class="form-control browser-default" required>
									{%for i in view.ext_clasificacion%}
									<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
						
					
				</div>
				<div class="col m3 offset-m2">
					
							<label for="">Criterio de la duracion</label>
								<select name="criterio_duracion" id="criterio_duracion" class="form-control browser-default" required>
									{%for i in view.dur_criterios%}
									<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
						
					
				</div>
			</div>
			
			<div class="row center-align section">
				<div class="col m3 offset-m2">
					
							<label for="">Clasificacion de la reversibildid</label>
								<select name="clasificacion_reversibilidad" id="clasificacion_reversibilidad" class="form-control browser-default" required>
									{%for i in view.rev_clasificacion%}
									<option value="{{i}}">{{i}}</option>
									{% endfor %}
								</select>
						
				</div>
				<div class="col m3 offset-m2">					
					<label for="">Clasificacion de la probabilidad</label>
						<select name="clasificacion_probabilidad" id="clasificacion_probabilidad" class="form-control browser-default" required>
							<option value="" disabled selected>Choose your option</option>
							{%for i in view.probabilidad%}
							<option value="{{i}}">{{i}}</option>
							{% endfor %}
						</select>
				</div>
			</div>

			<div class="row center-align section">
				<div class="col m3 offset-m2">
					<div class="input-field">
						<h6>
							<label for="">{{form.pondIntensidad.label}}</label>
								{{form.pondIntensidad}}
						</h6>
					</div>
				</div>
				<div class="col m3 offset-m2">
					<div class="input-field">
						<h6>
							<label for="">{{form.pondExtension.label}}</label>
								{{form.pondExtension}}
						</h6>
					</div>
				</div>
			</div>

			<div class="row center-align section">
				<div class="col m3 offset-m2">
					<div class="input-field">
						<h6>
							<label for="">{{form.pondDuracion.label}}</label>
								{{form.pondDuracion}}
						</h6>
					</div>
				</div>
				<div class="col m3 offset-m2">
					<div class="input-field">
						<h6>
							<label for="">{{form.pondReversibilidad.label}}</label>
								{{form.pondReversibilidad}}
						</h6>
					</div>
				</div>
			</div>

			<div class="row center-align section">
				<div class="col m3 offset-m2">
					<div class="input-field">
						<h6>
							<label for="">{{form.pondProbabilidad.label}}</label>
								{{form.pondProbabilidad}}
						</h6>
					</div>
				</div>

			{% if object %}
				<div class="col m3 offset-m2">
					<div class="input-field">
						<h6>
							<label for="">VIA</label>
								<input class="string form-control" type="text" value="{{object.via}}" readonly="" />
						</h6>
					</div>
				</div>
			</div>

			<div class="row center-align section">
				<div class="col m3 offset-m2">
					<div class="input-field">
						<h6>
							<label for="">Importancia del Estudio</label>
								<input class="string form-control" type="text" value="{{object.importancia_estudio.importancia}}" readonly="" />
						</h6>
					</div>
				</div>
				<div class="col m3 offset-m2">
					<div class="input-field">
						<h6>
							<label for="">Valor del Impacto</label>
								<input class="string form-control" type="text" value="{{object.importancia_estudio.valor}}" readonly="" />
						</h6>
					</div>
				</div>
			</div>
			{% else %}
			</div>
			{% endif %}

			<div class="row center-align section">
				<div class="col m6 offset-m2" align="center">
					<div class="input-field">
							<input id="editar" name="editar" class="btn" onclick = "return confirm('¿Está seguro de los datos introducidos?')" style="background: #4f6228; color: white" value="Guardar" type="submit">
					</div>
				</div>
				{% if object %}
				<div class="col m6 offset-m2" align="center">
					<div class="input-field">
						<a class="btn" name="eliminar" style="background: #4f6228; color: white" onclick = "return confirm('¿Está seguro de eliminar este estudio?')" href="{% url 'eliminar_estudio' object.id %}">Eliminar</a>
					</div>
				{% endif %}
				</div>
			</div>
		</form>
	</div>
	{%endblock%}

	{% block js %}
	
	{% endblock %}