{% extends '../base.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'configuracion/css/configuracion_main.css' %}">
{% endblock %}

	{% block content %}

		<div class="row p-3">
			<div class="col-md-1 col-sm-1">
				<a class="btn menu" style="color: gray" href="{% url 'planes' %}">Volver</a>
			</div>
			<div class="col-md-9 col-sm-11 text-center">
				<h1>{{plan.nombre}}</h1>
			</div>
		</div>
			
		<div class="container">
			<div class="row justify-content-start mb-3">
				<dl>
					<dt>Medidas satisfechas por el plan: </dt>
					<dd>{{plan.medidas}}</dd>
				</dl>
			</div>

			<div class="row justify-content-start mb-3">
				<dl>
					<dt>Objetivos:</dt>
					<dd>
						<dl>
							<dt>Objetivo General: </dt>
							<dd>{{plan.objetivo_general}}</dd>

							<dt>Objetivos Especificos</dt>
							<dd>{{plan.objetivo_especifico}}</dd>
						</dl>
					</dd>	
				</dl>
			</div>

			<div class="row justify-content-start mb-3">
				<dl>
					<dt>Alcance:</dt>
					<dd>{{plan.alcance}}</dd>
				</dl>
			</div>

			<div class="row justify-content-start mb-3">
				<dl>
					<dt>Metodologia: </dt>
					<dd>{{plan.metodologia}}</dd>
				</dl>
			</div>

			<div class="row justify-content-start mb-3">
				<dl>
					<dt>Proyecto: </dt>
					<dd>{{plan.proyecto}}</dd>
				</dl>
			</div>

			<div class="row justify-content-start mb-3">
				<dl>
					<dt>Responsable(s): </dt>
					<dd>{{plan.responsable}}</dd>
				</dl>
			</div>

			<div class="row justify-content-start mb-3">
				<dl>
					<dt>Costos del Plan: </dt>
					<dd>{{plan.costo}}</dd>
				</dl>
			</div>

			<div class="row justify-content-start mb-3">
				<dl>
					<dt>Cronograma de Actividades: </dt>
					<dd>{{plan.cronograma}}</dd>
				</dl>
			</div>

			<div class="row justify-content-center p-3">
				<div class="col-md-6" align="center">
					<div class="">
							<a id="editar" name="editar" class="btn" href="{% url 'editar_plan' plan.id %}" style="background: #4f6228; color: white; width: 50%">Editar</a>
					</div>
				</div>
				<div class="col-md-6" align="center">
					<div class="">
						<a class="btn" name="eliminar" style="background: #4f6228; color: white; width: 50%" onclick="return confirm('¿Está seguro de eliminar esta actividad?')" href="{% url 'eliminar_plan' plan.id %}">Eliminar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{%endblock%}

	{% block js %}
	<script type="text/javascript" src="{% static 'configuracion/js/bootstrap.min.js' %}"></script>

	{% endblock %}