{% extends '../base.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'configuracion/css/configuracion_main.css' %}">
{% endblock %}

	{% block content %}
	<div class="row pt-3 justify-content-center titulo top-rounded">
		<div class="col-md-1 col-sm-1">
			<a class="btn menu" href="{% url 'planes' %}" data-toggle="tooltip" title="Volver"><i class="material-icons">arrow_back</i></a>
		</div>
		<div class="col-md-9 col-sm-11 text-center">
			<h1>{{plan.nombre}}</h1>
		</div>
	</div>

	<div class="row p-3 justify-content-center fondo-form bottom-rounded">
		<div class="col-md-10">
				
				<div class="row justify-content-around mb-3">
					<div class="col-md-3">
						<label for="{{plan.medidas.label}}">Medidas:</label>
							{{plan.medidas}}
					</div>
					<div class="col-md-3">
						<label for="">Objetivo general:</label>
						{{plan.objetivo_general}}
					</div>
				</div>

				<div class="row justify-content-around mb-3">
					<div class="col-md-3">
						<label for="">Alcance:</label>
							{{plan.alcance}}
					</div>
					<div class="col-md-3">
						<label for="">Objetivo especificos:</label>
							{{plan.objetivo_especifico}}
					</div>
				</div>

				<div class="row justify-content-around mb-3">
					<div class="col-md-3">
						<label for="">Alcance:</label>
							{{plan.alcance}}
					</div>
					<div class="col-md-3">
						<label for="">Metodologia:</label>
							{{plan.metodologia}}
					</div>
				</div>

				<div class="row justify-content-around">
					<div class="col-md-3">
						<label for="">Responsable(s):</label>
						{{plan.responsable}}
					</div>
					<div class="col-md-3">
						<label for="">Costo:</label>
						{{plan.costo}}
					</div>
				</div>

				<div class="row justify-content-around mb-3">
					<div class="col-md-3">
						<label for="">Proyecto:</label>
						{{plan.proyecto}}
					</div>
					<div class="col-md-3">
						<label for="">Cronograma:</label>
						{{plan.cronograma}}
					</div>
				</div>

				<div class="row justify-content-center p-3">
					<div class="col-md-6" align="center">
						<div class="">
								<a id="editar" name="editar" href="{% url 'editar_plan' plan.id %}" class="btn btn-crud" style="width: 50%" type="submit" data-toggle="tooltip" title="Editar plan"><i class="material-icons">edit</i></a>
						</div>
					</div>
					<div class="col-md-6" align="center">
						<div class="">
							<a class="btn btn-crud" name="eliminar" style="width: 50%" onclick="return confirm('¿Está seguro de eliminar esta actividad?')" href="{% url 'eliminar_plan' plan.id %}" data-toggle="tooltip" title="Eliminar plan"><i class="material-icons">delete</i></a>
						</div>

					</div>
				</div>

		</div>
		
	</div>
	{%endblock%}

	{% block js %}
	<script type="text/javascript" src="{% static 'configuracion/js/bootstrap.bundle.min.js' %}"></script>
	<script type="text/javascript">
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
	</script>
	{% endblock %}