{% extends '../base.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'configuracion/css/configuracion_main.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<div class="row justify-content-center p-3">
		<div class="col-sm-1 col-md-1">
			<a class="btn menu" style="color: gray" href="{% url 'actividades' %}">Volver</a>
		</div>
		<div class="col-sm-11 col-md-11 text-center">
			<h1>Disciplinas</h1>	
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-8 col-sm-12" align="center">
			<div class="row justify-content-end mb-3">
				<div class="col-md-5 col-sm-8">
					<input type="text" id="busqueda" placeholder="Buscar">
				</div>
				<div class="col-md-2 col-sm-4">
					<a class="btn" style="background: #4f6228; color: white;" onclick="buscar()">Buscar</a>
				</div>
			</div>
			<table id="disciplinas" class="tabla-actividades">
				<tr>
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>Proyecto</th>
					<th>Acciones</th>
				</tr>
				<tbody id="contenido">
					{% for m in disciplinas %}
					<tr>
						<td>{{m.nombre}}</td>
						<td>{{m.descripcion}}</td>
						<td>{{m.proyecto}}</td>
						<td><a class="btn rounded pl-3" style="background: #4f6228; color: white;" href="{% url 'editar_disciplina' m.id %}">Modificar</a>
							<a class="btn rounded" style="background: #4f6228; color: white;" onclick = "return confirm('¿Está seguro de eliminar esta disciplina?')" href="{% url 'eliminar_disciplina' m.id %}">Eliminar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row justify-content-center mt-2">
		<div class="col-md-5 col-sm-6 align-self-center" align="center">
			<a class="btn rounded" style="background: #4f6228; color: white;" href="{% url 'agregar_disciplina' %}">Agregar disciplina</a>
		</div>
	</div>

</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'configuracion/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'configuracion/js/actividades.js' %}"></script>
{% endblock %}