{% extends '../base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'configuracion/css/configuracion_main.css' %}">
{% endblock %}

{% block content %}

	<div class="row justify-content-center mb-3 pt-3 titulo all-rounded">
		<h1>Estudios Ambientales</h1>
	</div>

	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	  {{message}}
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	{% endfor %}
	{% endif %}
	
	<div class="row justify-content-center mb-3">
		<div class="col-md-10">
			<input type="text" id="buscar-plan" onkeypress="teclado()" name="buscar" class="buscar-p-sp" />
		</div>
		<div class="col-md-1">
			<a class="btn btn-crud" onclick="buscar()" data-toggle="tooltip" title="Buscar"><i class="material-icons">search</i></a>
		</div>
	</div>

	<div class="row justify-content-center pt-3">
		<div class="col-md-10">
			<table id="estudios" class="tabla-plan">
				<thead>
					<tr>
						<th colspan="3">Elementos Ambientales</th>
					</tr>
					<tr class="cabecera_2">
						<th>Medios Físico</th>
						<th>Medios Biológicos</th>
						<th>Medios Socio-Cultural</th>
					</tr>
				</thead>
				<tbody id="contenido">
					{% if lista %}
					{% for estudio in lista %}
					<tr>
						{% for x in estudio %}
						{% if x%}
						<td> <a name="{{x.nombre}}"href="{% url 'editar_estudio' x.id %}">{{x.nombre}}</a> </td>
						{% else %}
						<td> </td>
						{% endif %}
						{% endfor %}
					</tr>
					{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>
		
		<div class="col-md-1 col-sm-2">
			<a id="agregar-estudio" class="btn btn_agregar" href="{% url 'agregar_estudio' %}" data-toggle="tooltip" title="Agregar estudio"><i class="material-icons">add</i></a>
		</div>
	</div>

{%endblock%}

{% block js %}
<script type="text/javascript" src="{% static 'configuracion/js/buscar-plan.js' %}"></script>
<script type="text/javascript" src="{% static 'configuracion/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript">
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>
{% endblock %}
