{% extends '../base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'configuracion/css/configuracion_main.css' %}">
{% endblock %}

{% block content %}
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
<div class="container">
<div class="row center-align section">
	<table class="table">
		<tr class="cabecera">
			<td colspan="3">Elementos Ambientales</td>
		</tr>
		<tr class="cabecera">
			<td>Medios Físico</td>
			<td>Medios Biológicos</td>
			<td>Medios Socio-Cultural</td>
		</tr>
		{% if lista %}
		{% for estudio in lista %}
		<tr class=""></td>
			{% for x in estudio %}
			{% if x%}
			<td> <a name="{{x.id}}"href="{% url 'editar_estudio' x.id %}">{{x.nombre}}</a> </td>
			{% else %}
			<td> </td>
			{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
		{% endif %}
	</table>
	<div class="center-align section">
		<a class="btn" style="background: #4f6228; color: white" href="{% url 'agregar_estudio' %}">Agregar Estudio</a>
	</div>
</div>
</div>	
{%endblock%}
