{% extends '../base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'configuracion/css/configuracion_main.css' %}">
{% endblock %}

{% block content %}
<div class="row justify-content-center mb-3 pt-3 titulo all-rounded">
	<h1>Planes de desarrollo</h1>
</div>

<div class="row justify-content-center mb-3">
	<div class="col-md-10">
		<input type="text" id="buscar-plan" onkeypress="teclado()" name="buscar" class="buscar-p-sp" />
	</div>
	<div class="col-md-1">
		<a class="btn btn-crud" onclick="buscar()" data-toggle="tooltip" title="Buscar"><i class="material-icons">search</i></a>
	</div>
</div>

<div class="row justify-content-center mb-3">
	<div class="col-md-10">
		 <table id="planes" class="tabla-plan">
			<thead>
				<tr class="">
					<th>ID</th>
					<th>Plan Ambiental</th>
					<th>Medidas</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="contenido">
				{% for p in planes %}
				<tr>
					<td>{{p.id}}</td>
					<td><a name="{{p.nombre}}" href="{% url 'detalles_plan' p.nombre %}">{{p.nombre}}</a></td>
					<td>{{p.medidas}}</td>
					<td><a class="btn rounded pl-3 btn-crud" href="{% url 'editar_plan' p.id %}" data-toggle="tooltip" title="Editar plan"><i class="material-icons">edit</i></a></td>
					<td><a class="btn rounded pl-3 btn-crud" onclick="return confirm('¿Está seguro de eliminar este plan?')" href="{% url 'eliminar_plan' p.id %}" data-toggle="tooltip" title="Eliminar plan"><i class="material-icons">delete</i></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	
	</div>
	<div class="col-md-1">
		<a class="btn rounded btn-crud" id="agregar_plan" href="{% url 'agregar_plan' %}" data-toggle="tooltip" title="Agregar plan"><i class="material-icons">add</i></a>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'configuracion/js/buscar-plan.js' %}"></script>
<script type="text/javascript" src="{% static 'configuracion/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}