{% extends '../base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'configuracion/css/configuracion_main.css' %}">
{% endblock %}

{% block content %}
<div class="row justify-content-center p-3">
	<h1>Planes de desarrollo</h1>
</div>

<div class="row justify-content-center mb-3">
	<div class="col-md-10">
		<input type="tex" name="buscar" class="" style="float: right;" />
	</div>
	<div class="col-md-1">
		<a class="btn" href="" style="background: #4f6228; color: white;"><i class="material-icons">search</i></a>
	</div>
</div>

<div class="row justify-content-center mb-3">
	<div class="col-md-10">
		<!-- <table id="planes" class="tabla-plan">
			<thead>
				<tr class="">
					<th>ID</th>
					<th>Plan Ambiental</th>
					<th>Medidas</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="contenido">
				<tr>
					{% for p in planes %}
					<td>{{p.id}}</td>
					<td><a href="">{{p.nombre}}</a></td>
					<td>{{p.medidas}}</td>
					<td><a class="btn rounded pl-3" style="background: #4f6228; color: white;" href=""><i class="material-icons">edit</i></a></td>
					<td><a class="btn rounded pl-3" style="background: #4f6228; color: white;" href=""><i class="material-icons">delete</i></a></td>
					{% endfor %}
				</tr>
			</tbody>
		</table> -->
		<table id="planes" class="tabla-plan">
			<thead>
				<tr class="">
					<th>ID</th>
					<th>Plan Ambiental</th>
					<th>Medidas</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="contenido">
				<tr>
					
					<td>1</td>
					<td><a href="">{nombre1</a></td>
					<td>medidas1</td>
					<td><a class="btn rounded pl-3" style="background: #4f6228; color: white;" href=""><i class="material-icons">edit</i></a></td>
					<td><a class="btn rounded pl-3" style="background: #4f6228; color: white;" href=""><i class="material-icons">delete</i></a></td>
					
				</tr>
				<tr>
					
					<td>2</td>
					<td><a href="">nombre2</a></td>
					<td>medidas2</td>
					<td><a class="btn rounded pl-3" style="background: #4f6228; color: white;" href=""><i class="material-icons">edit</i></a></td>
					<td><a class="btn rounded pl-3" style="background: #4f6228; color: white;" href=""><i class="material-icons">delete</i></a></td>
					
				</tr>
			</tbody>
		</table>	
	</div>
	<div class="col-md-1">
		<a class="btn rounded" href="" style="background: #4f6228; color: white;"><i class="material-icons">add</i></a>
	</div>
</div>
{% endblock %}